@layer reset, base, tokens, recipes, utilities;

:root {
  --font-fig-tree: "Figtree Variable";
  --global-font-body: var(--font-fig-tree);
}

textarea {
  field-sizing: content;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

